
body{
    background-color: rgb(75, 74, 74) !important;
}
.navbar{
    position: sticky !important;
}
#demo{
  padding-left: 500px;
  flex: auto;  
}
.navbar-collapse{
    text-align: center;
}
.id{
    position: sticky !important;
    justify-content: center !important;
    float: center !important;
    display: flex !important;
}
.navbar-brand{
    padding: 0px 100px 0px 50px !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-weight: bolder !important;
    font-size: 25px !important;
    color: blue !important;
}
.btn{
    cursor: pointer;
}
.form-control:focus{ color: blue !important;
}

.nav-link{
    font-weight: bolder !important;
}
.dropdown-item{
    font-weight: bold !important;
}
.row{ 
    background-color: white !important;

}

.card-body{
    text-align: justify !important;
    font-weight: bolder !important;
    background-color: white;
    font-size: 25px;
}
.class:hover{
    color: rgb(19, 19, 158) !important;

}
.text-info{
    color: white;
    text-align: center;
}
.class{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.label{
    font-style: oblique;
    color: white !important;
}

.rouded-circle{
    font-weight: lighter !important;
    width: 300px !important;
}
.B{
    font-weight: lighter !important;
    width: 350px;
}
.label:hover{
    color:wheat !important;
}
.footer{
    text-align: center !important;
    font-weight: bold;
    color: violet !important;
    font-size: 25px;
    background: white !important;
    flex-direction: row;
    background-color: white;
}

.op{
    font-weight: lighter !important;
    text-align: center !important;
}
.shopp{
    background-color: rgb(66, 66, 143) !important;
}

.customer{
    color: white;
}
.p{
    color: white !important;
}
.pp{
    text-align: center !important;
    color: white;

}

.justify{
    text-align: center !important;
}
.changing{
    color: white;
}

























